label {
	margin-top: 0.8em;
}

input {
	outline: none;
}

#welcome-text {
	font-size: 1.5em;
	text-align: center;
	margin-top: calc(100vh * 0.25);
}

#auth-form-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#auth-form {
	display: flex;
	flex-direction: column;
	width: 400px;
}

#submit-button {
	font-size: 20px;
	margin-top: 20px;
	background-color: rgb(176, 118, 31, 0.1);
	border-color: black;
	border-radius: 5%;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	transition-timing-function: linear;
	transition: font-size 0.4s, background-color 0.4s;
}

#submit-button:hover {
	font-size: 25px;
	background-color: rgb(176, 118, 31, 0.4);
}

#auth-loader {
	display: none;
}
